@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Scroll-Bar Design  */

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
  }
  
  ::-webkit-scrollbar-thumb {transition: 2s ease;
    background: var(--second-bg-color);
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
  }



/* ANIMATIONS */

@keyframes float {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    
}

/* Index.html CSS  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    transition: .5s ease;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    scrollbar-base-color: var(--bg-color);
}
section{
    border-bottom: 1px solid var(--main-color);
}
.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100svw;
    padding: 20px 20px;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-button {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
    animation: float 5s ease-in-out infinite alternate;
}

.home-content h2{
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3 {
    font-size: 2.5rem;
    
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 3rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .2s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    margin-bottom: 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    transition: .5s;
    color: var(--bg-color);
}

.btn:hover {
    box-shadow: inset 0 0 10px black;
}


/* ABOUT Section CSS*/

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
    border-radius: 20%;
    /* box-shadow:0 5px 0.5px #0ef; */
}

.heading {
    text-align: center;
    font-size: 4rem;
    /*display: none;*/
}

.about-content h2 {
    text-align: left;
    font-size: 6rem;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* SERVICE Section CSS*/


.services h2 {
    margin-bottom: 1.5%;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.services-container .services-box {
    flex: 1 1 25rem;
    background: var(--second-bg-color);
    padding: 2.5rem 1.6rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);

}
.services-box:hover{
    box-shadow: 0 0 10px var(--second-bg-color);
}

.services-box i {
    font-size: 8rem;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

/* Portfolio Section CSS */
.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 2rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.3s ease;
    transform: scale(1.05);
}

.portfolio-box:hover img {
    transform: scale(1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    opacity: 0;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 2.5rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--text-color);
}

.portfolio-layer a {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.portfolio-layer a:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
}

/* Contact SECTION CSS  */

.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/* Footer Section CSS */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 09rem;
    background: var(--second-bg-color);
}
.footer .footer-text p{
font-size: 1.6rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease-in-out;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color); 
    margin-top: -0.3rem;
    margin-bottom: 0.3rem;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    background: var(--main-color);

}


/* RESPONSIVE DIRECTORY CSS for PORTFOLIO  */

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .portfolio
    {
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
    
}

@media (max-width: 768px)
{
    #menu-button{
        display: inline-block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem soild rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content h2{
        font-size: 3.6rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
     
}
@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: auto;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
@media (max-width: 365px){
    .home-img img, .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
